body{
  background-image: linear-gradient(to right, rgb(211, 22, 22) , rgba(153, 73, 73, 0.685));
}
    
  
  .header {
    background-color: #0d1812;
    padding: 20px;
    text-align: center;
    
  }

  .linkit {
    color: white;
    font-size: 1.2rem;
    text-decoration:none;
    margin: 10px;
  }

